
body {
    background: linear-gradient(45deg, #6672dd, red);
    background-repeat: repeat;
    background-position: 20%;
    background-size: auto;
}


/* navbar */
.navbar.navbar-expand-lg.navbar-light.bg-light {
    z-index: 2;
}

.navbar-brand {
    margin-left: 2rem;
    background: linear-gradient(45deg, #6672dd, red);
    padding: 1rem; 
    padding-top: 8px; 
    padding-bottom: 8px;
    border-radius: 1rem;
    color:white !important;
}
.nav-item.active {
    color:grey;

}
.nav-item:hover {
    background:whitesmoke;
    border-radius: 4px;
    transition: .3s;
    color:white !important;

}
.nav-item.dropdown {
    position: absolute;
    right: 1rem;
}
.container-fluid {
    background:white;
    opacity: 0.8;
}
.nav-link {
    color:#6672dd !important;
}


/* sidebar */

.sidenav {
    width: 300px;  
    border-radius: .5rem;
    z-index: 1;
    background: white;
    overflow-x: visible;
    margin:50px ;
    float:right;
    top:-40px;
}

.sidenav a {
    margin: 1rem 1rem 1rem 1rem;
    display: block;
}
.sidenav a p {
    color: #6672dd;
    font-size: 20px;
    text-decoration: none;
    border-radius: .5rem;
    background: white;
    width: fit-content;
}


.card {
  position: relative;
  text-align: center;
}

.card .img_desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .9;
    padding: 5rem;
    visibility: hidden;
}

.card:hover .img_desc {
    visibility: visible;
}

.Landing .paper {
    background: white;
    margin-top: 30.2rem;
    height: 30rem;
}
.Landing .container {
    background: rgb(255, 255, 255, .8);
    border-radius: .5rem;
    margin-left: 10rem;
    width: auto;
    float: top;
    transform: translate(0%, -150%);
    clear: both;
}
.plot__desc {
    background: rgb(255, 255, 255, .7);
    border-radius: .5rem;
    margin-left: 30rem;
    width: 40rem;
    float:top;
    transform: translate(0%, -250%);
    clear:both;
}


/* Visualization graphs */
.graph {
    width: 40rem;
    margin: 4rem;
    margin-left: 30rem;
    padding: .5rem;
    background:white;
    border-radius: .5rem;
}



/* media resizing */

@media screen and (max-width: 1366px) {
    .sidenav {
    visibility: visible;
}

.Landing .paper {
    height: 45rem;
}
 .Landing .container {
    border-radius: .5rem;
    margin: 4rem;
    width: 45rem;
    float: left;
    transform: translate(0%, 0%);
    overflow-y: hidden;
}

.graph {
    width: 40rem;
    margin: 4rem;
    margin-left: 10rem;
    padding: .5rem;
    background:white;
    border-radius: .5rem;
}


.Landing .container {
    background: rgb(255, 255, 255, .8);
    border-radius: .5rem;
    margin-left: 10rem;
    width: auto;
    float: top;
    transform: translate(0%, -200%);
    clear: both;
}
.plot__desc {
    background: rgb(255, 255, 255, .7);
    border-radius: .5rem;
    margin-left: 10rem;
    width: 40rem;
    float:top;
    transform: translate(0%, -250%);
    clear:both;
}



}

@media screen and (max-width: 600px) {
  .sidenav {
    visibility: hidden;
}
 .Landing .container {
    background: white;
    border-radius: 1rem;
    margin-left: 4rem;
    width: 22rem;
    float: left;
    transform: translate(0%, -90%);
    overflow-y: hidden;
}

}