
body {
    background: linear-gradient(45deg, #6672dd, red);
    background-repeat: repeat;
    background-position: 20%;
    background-size: auto;
}


/* navbar */
.navbar.navbar-expand-lg.navbar-light.bg-light {
    z-index: 2;
}

.navbar-brand {
    margin-left: 2rem;
    background: linear-gradient(45deg, #6672dd, red);
    padding: 1rem; 
    padding-top: 8px; 
    padding-bottom: 8px;
    border-radius: 1rem;
    color:white !important;
}
.nav-item.active {
    color:grey;

}
.nav-item:hover {
    background:whitesmoke;
    border-radius: 4px;
    transition: .3s;
    color:white !important;

}
.nav-item.dropdown {
    position: absolute;
    right: 1rem;
}
.container-fluid {
    background:white;
    opacity: 0.8;
}
.nav-link {
    color:#6672dd !important;
}


/* sidebar */

.sidenav {
    width: 300px;  
    border-radius: .5rem;
    z-index: 1;
    background: white;
    overflow-x: hidden;
    margin:50px ;
    float:right;
    top:-40px;
}

.sidenav a {
    margin: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    font-size: 20px;
    color: white ;
    display: block;
}


.card {
  position: relative;
  text-align: center;
}

.card .img_desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .9;
    visibility: hidden;
}

.card:hover .img_desc {
    visibility: visible;
}

.Landing .container {
    background: white;
    border-radius: .5rem;
    float: left;
    margin-left: 20rem;
    width: 55rem;
    float: top;
    transform: translate(0%, -200%);
    clear: both;
}


@media screen and (max-width: 992px) {
    .sidenav {
    visibility: hidden;
}
 .Landing .container {
    background: white;
    border-radius: .5rem;
    margin: 4rem;
    width: 22rem;
    float: left;
    transform: translate(0%, -90%);
    overflow-y: hidden;
}

}

@media screen and (max-width: 600px) {
  .sidenav {
    visibility: hidden;
}
 .Landing .container {
    background: white;
    border-radius: 1rem;
    margin-left: 4rem;
    width: 22rem;
    float: left;
    transform: translate(0%, -90%);
    overflow-y: hidden;
}

}